<% content_for :title do %>
    My Basecamp
<% end %>

<div class="d-flex align-items-center justify-content-center vh-100">
<div class="d-block">
        <div class="d-block">
        <div class="img"><%= image_tag 'img.jpg' %></div>
            
            <h1 class="display-2 font-weight-bold text-dark text-center" style="margin-top: 0; ">My&nbspBasecamp</h1>
        </div>
        <div align="center">
            <a class="btn btn-outline-info m-5 btn-lg" href="/users/sign_up">Sign Up</a>
            <a class="btn btn-outline-info m-5 btn-lg" href="/users/sign_in">Login</a>
        </div>
    </div>
</div>
    